.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

body {
    margin-left: 20px;
    margin-top: 20px;
    max-width: 790px;
    margin: auto;    
}

div {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
}
aside {
    float: right;
}

.noteMenu {
    display: inline-flex;
    
}

.individualNote {
    max-width: 250px;
    margin: 5px;
    border: 2px solid black;
}

.mainParentNote{
    border: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 250px));
    max-width: 900px;    
}

.answerParent {
    height: 400px;      /* will be changed to viewport*/ 
    overflow: auto;
}
/*
#template-individual-note{
    visibility: hidden;
}
#draft-individual-note{
    visibility: hidden;
}
*/